@import "tailwindcss";
@plugin "daisyui" {
  themes: forest;
}

.card-body {
  background-color: #161212 !important;
}

/* Modern browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #22c55e, #16a34a);
  border-radius: 4px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #22c55e #111;
}

